#mapid {
    height: 65vh; 
    width: 100vw;
}
.container-map, .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 ; 
    position: relative;
    z-index: 0;
}
.card {
    box-shadow: none; 
    border: none; 
}
.card-body{
    padding: 10px;
}
.form-label{
    margin-bottom: 0.5rem;
}
.form-inline-custom {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
}
.btn-custom {
    padding: .375rem .75rem; 
}
.small-title{
    font-size: 24px;
}
#startDateSpan, #startTimeSpan, #endDateSpan, #endTimeSpan {
    display: none;
}
.date-time-info {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.navbar {
    padding: 0.5rem 1rem;
}
.form-inline-custom .form-control, .form-inline-custom .btn-custom {
    margin-bottom: 0;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.btn-consistent-size {
padding: .375rem .75rem; 
}
#timeSlider {
    width: 100%;
    max-width: 400px; 
    margin: 10px auto;
    display: none;
}
#timeSlider2 {
    width: 100%;
    max-width: 400px; 
    margin: 10px auto;
    display: none;
}

#vehicleSelector {
    position: relative; /* Posición relativa para el pseudo-elemento */
    width: 160px;
    background-color: #343a40;
    color: white;
    border: none;
    margin-right: 10px;
    -webkit-appearance: none; /* Elimina la apariencia por defecto en WebKit/Blink */
    -moz-appearance: none; /* Elimina la apariencia por defecto en Firefox */
    appearance: none;
}

#vehicleSelector::after {
    content: "\f107"; /* Código Unicode de FontAwesome para la flecha hacia abajo */
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Asegura que el pseudo-elemento no interfiera con la funcionalidad del select */
    color: white;
}

@media (min-width: 768px) { 
    .container-map {
        padding: 10px;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .form-inline-custom .form-control {
        max-width: 165px;
    }
    @media (max-width: 600px) {
        #timeSlider {
            max-width: 300px;  /* Ajusta el máximo según lo necesites */
        }
        #timeSlider2 {
            max-width: 300px;  /* Ajusta el máximo según lo necesites */
        }
    }
}