#mapid {
    height: 65vh; 
    width: 100vw;
}

.container-map, .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 ; 
    position: relative;
    z-index: 0;
}

.card {
    box-shadow: none; 
    border: none; 
}

.card-body{
    padding: 10px;
}

.form-label{
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 0.9em;
    color: #494949;
    text-align: center;
    margin-top: 10px;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
}

.form-inline-custom {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
}

.btn-custom {
    padding: .375rem .75rem; 
}

.small-title{
    font-size: 20px;
}

#startDateSpan, #startTimeSpan, #endDateSpan, #endTimeSpan {
    display: none;
}

.date-time-info {
    position: absolute;
    width: 0.8px;
    height: 0.8px;
    overflow: hidden;
    clip: rect(0-8px, 0.8px, 0.8px, 0.8px);
}

.navbar {
    padding: 0.5rem 1rem;
}

.form-inline-custom .form-control, .form-inline-custom .btn-custom {
    margin-bottom: 0;
}

.row1{
    display: flex;
    justify-content: space-between;
}

.btn-consistent-size {
    padding: .375rem .75rem; 
}

#timeSlider {
    display: none;
    width: 100%;
    max-width: 400px; 
    margin: 10px auto;
}
#gaugeContainer {
    position: absolute;
    bottom: 20px;
    right: 10px; /* Disminuir este valor para mover el tacómetro más a la derecha */
    width: 300px;
    height: 180px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleRpmGauge {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

/* Estilos para el gauge */
#rpmGaugeMap {
    width: 100%;
    height: auto;
}

#vehicleSelector {
    position: relative; /* Posición relativa para el pseudo-elemento */
    width: 160px;
    background-color: #343a40;
    color: white;
    border: none;
    margin-right: 10px;
    -webkit-appearance: none; /* Elimina la apariencia por defecto en WebKit/Blink */
    -moz-appearance: none; /* Elimina la apariencia por defecto en Firefox */
    appearance: none;
}

#vehicleSelector::after {
    content: "\f107"; /* Código Unicode de FontAwesome para la flecha hacia abajo */
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Asegura que el pseudo-elemento no interfiera con la funcionalidad del select */
    color: white;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    #gaugeContainer {
        width: 200px; /* Ajustar el ancho para dispositivos móviles */
        height: 120px; /* Ajustar la altura para dispositivos móviles */
        bottom: 10px; /* Ajustar la posición desde abajo */
        right: 5px; /* Ajustar la posición desde la derecha en pantallas móviles */
    }

    #titleRpmGauge {
        font-size: 14px; /* Reducir el tamaño de la fuente para dispositivos móviles */
    }

    #timeSlider {
        width: 90%; /* Asegurar que el slider se ajuste en dispositivos móviles */
        max-width: 100%; /* Permitir que el slider ocupe todo el ancho disponible */
        margin: 10px auto; /* Centrar el slider en dispositivos móviles */
    }
}
