        /* Estilos para que el mapa ocupe toda la pantalla */
        html, body, .map-container {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Evita barras de desplazamiento */
        }

        /* Configuración del mapa en el contenedor */
        #map-in-container {
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        /* Estilos para el sidebar */
        .sidebar {
            position: fixed;
            top: 0;
            right: 0;
            width: 450px; /* Ancho del sidebar */
            height: 100%;
            background-color: #FFD35F; /* Color de fondo del sidebar */
            z-index: 2;
            transform: translateX(0%); /* Sidebar inicialmente abierto */
            transition: transform 0.3s ease; /* Transición suave para abrir/cerrar el sidebar */
        }

        /* Estilos para el contenido del sidebar */
        .sidebar-content {
            padding: 20px;
            color: #000000; /* Color del texto en el sidebar */
            z-index: 2;
            text-align: center; /* Centra el contenido horizontalmente */
        }

        .sidebar-content img {
            display: block; /* Asegura que la imagen sea un bloque para poder aplicar márgenes automáticos */
            margin: 0 auto 20px; /* Centra la imagen horizontalmente y añade margen inferior */
            max-width: 100%; /* Ajusta el ancho máximo de la imagen */
            height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
        }

        /* Estilos para el botón de cerrar el sidebar */
        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            color: #000000; /* Color del texto del botón */
            z-index: 2;
        }

        /* Estilos para el botón de abrir el sidebar */
        .open-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            color: #000000; /* Color del texto del botón */
            z-index: 1; /* Asegura que esté sobre el mapa y debajo del sidebar */
            background-color: #FFD35F; /* Color de fondo amarillo */
            border: 3px solid #000000; /* Contorno negro */
            border-radius: 10px; /* Añade bordes redondeados al botón */
            padding: 10px 15px; /* Añade espacio interno al botón */
            font-size: 25px; /* Tamaño de fuente */
        }

        .recorridosBtn {
            position: absolute;
            top: 85px;
            right: 20px;
            cursor: pointer;
            color: #000000; /* Color del texto del botón */
            z-index: 1; /* Asegura que esté sobre el mapa y debajo del sidebar */
            background-color: #FFD35F; /* Color de fondo amarillo */
            border: 3px solid #000000; /* Contorno negro */
            border-radius: 10px; /* Añade bordes redondeados al botón */
            padding: 10px 15px; /* Añade espacio interno al botón */
            font-size: 25px; /* Tamaño de fuente */
        }

        .infoBtn {
            position: absolute;
            top: 150px;
            right: 20px;
            cursor: pointer;
            color: #000000; /* Color del texto del botón */
            z-index: 1; /* Asegura que esté sobre el mapa y debajo del sidebar */
            background-color: #FFD35F; /* Color de fondo amarillo */
            border: 3px solid #000000; /* Contorno negro */
            border-radius: 10px; /* Añade bordes redondeados al botón */
            padding: 10px 15px; /* Añade espacio interno al botón */
            font-size: 25px; /* Tamaño de fuente */
        }

        .centrarMapaBtn {
            position: absolute;
            bottom: 20px;
            left: 20px;
            cursor: pointer;
            color: #000000; /* Color del texto del botón */
            z-index: 1; /* Asegura que esté sobre el mapa y debajo del sidebar */
            background-color: #FFD35F; /* Color de fondo amarillo */
            border: 3px solid #000000; /* Contorno negro */
            border-radius: 10px; /* Añade bordes redondeados al botón */
            padding: 10px 15px; /* Añade espacio interno al botón */
            font-size: 25px; /* Tamaño de fuente */
        }

        /* Estilos para el menú desplegable */
        select.dropdown {
            width: 80%; /* Ancho del menú desplegable */
            margin-top: 20px; /* Ajusta el margen inferior según sea necesario */
            margin-bottom: 5px; /* Ajusta el margen inferior según sea necesario */
            margin-inline: auto; /* Margen superior e inferior de 20px, centrado horizontalmente */
            padding: 10px; /* Espacio interno */
            font-size: 18px; /* Tamaño de fuente */
            background-color: #ffffff; /* Color de fondo */
            border: 3px solid #000000; /* Contorno */
            border-radius: 10px; /* Bordes redondeados */
            cursor: pointer; /* Cursor */
            color: #000000; /* Color de texto */
        }

        /* Estilos para los rectángulos */
        .rectangle-container {
            display: flex;
            flex-direction: column; /* Columna */
        }

        .rectangle {
            width: 80%; /* Ancho del rectángulo */
            height: 50px; /* Altura del rectángulo */
            background-color: #FFFFFF; /* Color de fondo del rectángulo */
            border: 3px solid #000000; /* Contorno negro */
            border-radius: 10px; /* Bordes redondeados */
            padding: 10px; /* Espacio interno */
            font-size: 16px; /* Tamaño de fuente */
            margin-bottom: 1px; /* Espacio entre rectángulos */
            display: flex;
            align-items: center; /* Centrado vertical */
            margin: 5px auto; /* Margen superior e inferior de 30px, centrado horizontalmente */
        }

        .rectangle i {
            margin-right: 15px; /* Espacio entre icono y texto */
        }

        .sidebar-content p {
            width: 80%; /* Ancho deseado */
            margin: 0 auto; /* Centra horizontalmente */
            margin-bottom: 30px; /* Ajusta el margen inferior según sea necesario */
            font-size: 16px; /* Tamaño de fuente */
        }
                /* Ocultar la 'T' */
        #date::after {
            content: ' ';
            font-size: 0;
        }
        /* Reducir el tamaño de los ceros iniciales */
        #time span.zero {
            font-size: 0; /* Hace que los ceros sean invisibles */
            color: transparent; /* O hace los ceros transparentes */
        }
        .latitude, .longitude {
                display: none; /* Oculta los elementos y su espacio */
        }
        .tacometer-container {
            width: 220px;
            margin: 20px auto;
        }        



        /*CONFIGURACIÓN: WEB RESPONSIVE*/
        @media (max-width: 768px) {
            /* Estilos para pantallas pequeñas */
            .sidebar {
                width: 100%; /* Ancho del sidebar en pantallas pequeñas */
            }
            .sidebar-content img {
                max-width: 100%; /* Ajusta el ancho máximo de la imagen en pantallas pequeñas */
            }
            select.dropdown {
                width: 90%; /* Ancho completo del menú desplegable en pantallas pequeñas */
            }
        }
